
 .quienes{
   position: absolute;
  width: 100%;
    max-width: 800px;
    top: 80px;
    left: 230px;
    margin: auto;
 }
 
 .quienes1{
  position: absolute;
 width: 100%;
   max-width: 450px;
   top: 80px;
   left: 230px;
   margin: auto;
}
.quienes2{
  position: absolute;
 width: 100%;
   max-width: 1000px;
   top: 350px;
   left: 130px;
   margin: auto;
}
.imagen1{
  position: absolute;
 width: 100%;
   max-width: 150px;
   top: 400px;
   left: 180px;
   margin: auto;
}
.imagen2{
  position: absolute;
 width: 100%;
   max-width: 150px;
   top: 400px;
   left: 430px;
   margin: auto;
}
.imagen3{
  position: absolute;
 width: 100%;
   max-width: 150px;
   top: 400px;
   left: 690px;
   margin: auto;
}

.imagen4{
  position: absolute;
 width: 100%;
   max-width:150px;
   top: 400px;
   left: 940px;
   margin: auto;
}
.texto1
{
  position: absolute;
 width: 100%;
   max-width: 150px;
  font-family:Arial;
  font-size:35px;
  color: #000;
  font-weight: bold;
   top: 560px;
   left: 180px;
   margin: auto;
}
.texto2
{
  position: absolute;
   width: 100%;
   max-width: 150px;
   font-family:Arial;
   font-size:35px;
   color: #000;
   font-weight: bold;
   top: 560px;
   left: 430px;
   margin: auto;
}
.texto3{
   position: absolute;
   width: 100%;
   max-width: 150px;
   font-family:Arial;
   font-size:35px;
   color: #000;
   font-weight: bold;
   top: 560px;
   left: 690px;
   margin: auto;
}
.texto4{
  position: absolute;
 width: 100%;
   max-width:150px;
   font-family:Arial;
   font-size:35px;
   color: #000;
   font-weight: bold;
   top: 560px;
   left: 940px;
   margin: auto;
}
 .fondopizzarra{
    
    width: 100%;
    max-width: 1500px;
    top: -100px;
    left: 0px;
    margin: auto;
    opacity: 0.3;
    z-index: -1;
}
.footero{
   
   width: 100%;
   max-width: 1500px;
    top: 0px;
    left: 0px;
    margin: auto;
}

.youtube{
  
    display: block;
    position: fixed;
    width: 10%;
     top: 0px;
     left: 0px;
     
     
 }
 .redes{
  width: 100%;
   max-width: 25px;
    top: 0px;
    left: 0px;
    margin: auto;
 }
 .encabezado{
  width: 100%;
  max-width: 50px;
  margin: auto;
 }
 .colegio{
  width: 100%;
  max-width: 150px;
  margin: auto;
 }

 .active{
  color: #F15312;
  font-weight: normal;
}
a[target="top"] {
  background-color: black;
}

body{
    background-color: dimgrey ;
    }

.header{
    border:5px chocolate;
}


#top, #bottom, #left, #right {
	background: chocolate;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 3px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 74px;
        }
    #bottom{
        left: 0; right: 0;
        height: 3px;
    }    
		#top { top: 0; }
        #bottom { bottom: 0; }


 .mobile-container{
  position: relative;
  width: 600px;
  height: 40px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}



.social-sharing {
  display: block;
  position: fixed;
  width: 50%;
  left: 0;
  bottom: 0;
}

.social-sharing ul.menu-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrapwrap;
  flex-wrap: nowrap;
}

.social-sharing ul.menu-social li {
    flex: 0 1 40px;
  height: 40px;
}
.social-sharing ul.menu-social li.newsletter {
    flex: 1 1 auto;
  line-height: 40px;
  position: relative;
  background-color: #fafafa;
  background-image: repeating-linear-gradient(135deg, #ffe4e1 0px, #ffe4e1 5px, transparent 5px, transparent 10px, #e1f3ff 10px, #e1f3ff 15px, transparent 15px, transparent 20px);
/*   background-image: repeating-linear-gradient(135deg, #f9c1bb 0px, #f9c1bb 5px, transparent 5px, transparent 10px, #9fc6e6 10px, #9fc6e6 15px, transparent 15px, transparent 20px); */
}
.social-sharing li {
  list-style:none;
}




.social-sharing ul.menu-social li.newsletter:after, 
.social-sharing ul.menu-social li.newsletter:before {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
  position: absolute;
  left: 0;
   
}
 

.social-sharing ul.menu-social li.newsletter:before {
  top: 0;
}
.social-sharing ul.menu-social li.newsletter:after {
  bottom: 0;
} 


.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: 'Work Sans', Helvetica, sans-serif;
    color: #92a4ad;
}
h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
  border: 1px solid #ccc;
}


@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

body {
	background: #1b1e24;
  background-image:-webkit-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:-moz-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
  background-image:-o-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:-ms-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:linear-gradient(to left,#1b1e24,#1b1e24 50%,#1b1e24);
  text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.Registro {
	margin: 50px auto;
	width: 242px;
}

.Registro span {
	color: hsl(5, 50%, 57%);
	display: block;
	height: 48px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	width: 36px;
}

.Registro input {
	border: none;
	height: 48px;
	outline: none;
}

.Registro input[type="text"] {
	background-color: #fff;
	border-top: 2px solid orangered;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.Registro input[type="password"] {
	background-color: #fff;
	border-top: 2px solid orangered;
	border-right: 1px solid #000;
	border-bottom: 2px solid orangered;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

.Registro input[type="submit"] {
	background-color: chocolate;
	border: 1px solid orangered;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

.Registro input[type="submit"]:hover {
	background-color: chocolate;
  box-shadow: 2px 2px 20px  orangered, #fff 0 -1px 2px;
}

.texto {
  color: chocolate; 
  font-size: 40px; 
  margin: 8% auto;
  text-align: center;
  font-family: 'Titan One';   
  text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
  padding-top: 50px;
}

p:hover {
  text-shadow: 2px 2px 20px  orangered, #fff 0 -1px 2px;
}